<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ajil -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ajil.presentation.AjilModelWizardID"
            name="%_UI_AjilModelWizard_label"
            class="ajil.presentation.AjilModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AjilModelFile.gif">
         <description>%_UI_AjilModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ajil -->
      <editor
            id="ajil.presentation.AjilEditorID"
            name="%_UI_AjilEditor_label"
            icon="icons/full/obj16/AjilModelFile.gif"
            extensions="ajil"
            class="ajil.presentation.AjilEditor"
            contributorClass="ajil.presentation.AjilActionBarContributor">
      </editor>
   </extension>

</plugin>
