<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="ajilGraphicalEditor.design.Activator"
               id="ajilGraphicalEditor.design"
	       name="ajilGraphicalEditor">
    </component>
  </extension>
   <extension point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="toolbar:org.eclipse.sirius.diagram.ui.tabbar?after=additions">
        <command
            commandId="ajilGraphicalEditor.design.generateCommand"
            icon="description/graphics/ajiIcon.png"
              id="ajilGraphicalEditor.design.generateCommand"
              label="Generate Microservices"
              style="push"
              tooltip="Generate your modeled Microservice Architecture based on Spring Cloud Netflix with the EGL Framework. Only the currently saved state will be used for generation.">
        </command>
    </menuContribution>
 </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ajilGraphicalEditor.design.handlers.GeneratorHandler"
            commandId="ajilGraphicalEditor.design.generateCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ajilGraphicalEditor.design.generateCommand"
            name="Generate Command">
      </command>
   </extension>
</plugin>
