<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="ajiML.editor.graphical.Activator"
               id="ajiML.editor.graphical"
	       name="ajiMLgraphicaleditor">
    </component>
  </extension>
</plugin>
